<div class="container profile">
  <div class="col-md-12">
    <div class="panel panel-profile">
      <div class="panel-heading overflow-h">
        <h2 class="panel-title heading-sm pull-left"><i class="fa fa-vcard-o" aria-hidden="true"></i> Contacts</h2>
        <div class="btn-group pull-right">
          <a class="btn btn-sm btn-default disabled"><i class="fa fa-google-plus" style="width:16px;"></i></a>
          <a class="btn btn-sm btn-default" href="contacts/gmail" style="width:12em;"> Import Google Contacts</a>
        </div>
        <%= link_to 'New Contact', new_user_contact_path(@user), class:"btn btn-default btn-sm pull-right" %>
      </div>
      <div class="panel-body">
        <div class="row">
          <%= form_tag root_path, method: "get", class: "contacts-search form-inline col-sm-4" do %>
            <%= text_field_tag :search, params[:search], class: "form-control" %>
            <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
          <% end %>

          <div class="col-sm-4">
          <!-- sortable method can be found in contacts_helper.rb -->
            <div class="row">
              <div class="col-md-12">
                Sort:
                <%= sortable "first_name" %>
                <%= sortable "last_name" %>
                <%= sortable "company" %>
              </div>
            </div>
          </div>

          <div class="col-sm-4 filters">
            <div class="row">
              <div class="col-xs-3">Filter:</div>
              <div class="col-xs-9">
                <%= link_to "Favorites", favorite_user_contacts_path(@user), class: "btn btn-xs btn-default" %>
                <%= link_to "Family", family_user_contacts_path(@user), class: "btn btn-xs btn-default" %>
                <%= link_to "Friends", friend_user_contacts_path(@user), class: "btn btn-xs btn-default" %>
                <%= link_to "Colleagues", colleague_user_contacts_path(@user), class: "btn btn-xs btn-default" %>
              </div>
            </div>
          </div>
        </div>
        <%# select_tag :sort, options_for_select([["First Name", "first_name"], ["Last Name", "last_name"]]) %>
        <div id="contacts"><%= render "contacts" %></div>

    </div>
  </div>
</div>
