<div class="container profile">
  <div class="col-md-12">
    <div class="panel panel-profile">
      <div class="panel-heading overflow-h">
        <h2 class="panel-title heading-sm pull-left"><i class="fa fa-vcard-o" aria-hidden="true"></i> Contacts</h2>
        <%= link_to 'New Contact', new_user_contact_path(@user), class:"btn btn-default btn-sm pull-right" %>
      </div>
      <div class="panel-body">
        <%= form_tag root_path, method: "get", class: "contacts-search" do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search" %>
        <% end %>

        <!-- sortable method can be found in contacts_helper.rb -->
        <%= sortable "first_name" %>
        <%= sortable "last_name" %>
        <%= sortable "company" %>

        <%= link_to "Favorites", favorite_user_contacts_path(@user) %>
        <%= link_to "Family", family_user_contacts_path(@user) %>
        <%= link_to "Friends", friend_user_contacts_path(@user) %>
        <%= link_to "Colleagues", colleague_user_contacts_path(@user) %>

        <%# select_tag :sort, options_for_select([["First Name", "first_name"], ["Last Name", "last_name"]]) %>
        <div id="contacts"><%= render "contacts" %></div>

    </div>
  </div>
</div>
