<div class="container profile">
  <div class="col-md-12">
      <div class="panel panel-profile">
      <div class="panel-heading overflow-h">
          <h2 class="panel-title heading-sm pull-left"><i class="fa fa-vcard-o" aria-hidden="true"></i>Contacts</h2>
          <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-dark btn-u-xs pull-right">View All</a><br>
          <%= link_to 'New Contact', new_user_contact_path(@user), class:"btn-u btn-brd btn-brd-hover btn-u-dark btn-u-xs pull-right" %>
      </div>
      <div class="panel-body">
        <div class="row">
          <% @contacts.each do |contact| %>
            <div class="col-md-4">
              <a href=<%= edit_user_contact_path(@user, contact) %>>
                <div  class="profile-blog blog-border">
                  <%= image_tag contact.avatar.url(:thumb), class: "rounded-x" %>
                  <div class="name">
                      <strong><%= "#{contact.first_name.capitalize} #{contact.last_name.capitalize}" %></strong>
                  </div>
                  <div class="clearfix margin-bottom-20"></div>
                  <ul class="list-group">
                    <li class="list-group-item">
                      <i class="fa fa-envelope-o" aria-hidden="true"></i>
                      <%= contact.email %>
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-phone" aria-hidden="true"></i>
                      <%= contact.phone_number %>
                    </li>
                    <li class="list-group-item">
                      <i class="fa fa-building-o" aria-hidden="true"></i>
                      <%= contact.company.capitalize %>
                    </li>
                  </ul>
                </div>
              </a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
